* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  max-width: 980px;
  margin: auto;
  font-style: italic;
}
h2 {
  font-size: 31px;
  padding: 11px;
  color: rgb(22, 193, 245);
  border-bottom: 2px solid rgb(180, 122, 122);
  margin-top: 5px;
  border-radius: 85px 78px;
  text-align: center;
}
ol > li,
ul > li,
dt,
dd {
  margin-top: 21px;
  font-variant: small-caps;
}
ul > li {
  list-style-type: circle;
}
ol > li {
  list-style-type: lower-roman;
}
